<%= form_for(resource, as: resource_name, url: session_path(resource_name),namespace:"login") do |f| %>
    <div name="header" class="login_title">  
      Welcome! 
    </div>

    <div name="login-body"  class="login_body">  
    

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      <%= f.label :password, style:"margin-top:10px" %>         
      <%= f.password_field :password, class: 'form-control' %>
      
      <a id="signup" class="signup-link" >Sign-up</a>    
     
      <a class="recovery-link" >Forgot password?</a> 

    </div>  

    <div name="footer" class="d-flex flex-row justify-content-center align-items-center login_footer">  
      <%= f.submit "Log in", class: "btn btn-primary login_submit" %>              
    </div>
<% end %>  