  
<div class="d-flex flex-column align-items-center" id="cust_creation_errors"></div>    

<%= form_with(model: @new_customer, html: {id: :create_customer_form, style: "width:100%;max-width:500px;min-width:250px"}, scope: "customer") do |n| %>
  <div name="header" class="form_title">  
    Create a new customer
  </div>

  <div name="new_customer_body"  class="form_body">      

    <%= n.label :Name %>
    <%= n.text_field :name, class: 'form-control' %>

    <%= n.label :"Start date" %>
    <%= n.text_field :relationshipstart, {autocomplete: "disabled", readonly: "readonly",class: 'form-control datepicker' } %>

    <%= n.label :"Activity type" %>            
    <%= n.select(:activitytype,  Customer.activitytypes.to_a,{},{class: 'form-control'}) %>  

    <%= n.label :"City" %>
    <%= n.text_field :addresscity, class: 'form-control' %>

    <%= n.label :"Area code" %>
    <%= n.text_field :addresspostalcode, class: 'form-control' %> 

    <%= n.label :"Street" %>
    <%= n.text_field :addressstreet, class: 'form-control' %> 

    <%= n.label :"apt" %>
    <%= n.text_field :addressapt, class: 'form-control' %> 

    <%= n.label :"Email" %>
    <%= n.text_field :infoemail, class: 'form-control' %> 


  </div>  

  <div name="footer" class="d-flex flex-row justify-content-center align-items-center">  
    <%= n.submit "Create Customer", {id: :create_customer_btn, class: "btn btn-primary"} %>              
  </div>          
<% end %>   
       
