<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Relationshipstart:</strong>
  <%= @customer.relationshipstart %>
</p>

<p>
  <strong>Addresscity:</strong>
  <%= @customer.addresscity %>
</p>

<p>
  <strong>Addresspostalcode:</strong>
  <%= @customer.addresspostalcode %>
</p>

<p>
  <strong>Addressstreet:</strong>
  <%= @customer.addressstreet %>
</p>

<p>
  <strong>Addressapt:</strong>
  <%= @customer.addressapt %>
</p>

<p>
  <strong>Activitytype:</strong>
  <%= @customer.activitytype %>
</p>

<p>
  <strong>Infoemail:</strong>
  <%= @customer.infoemail %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
