 
<div id="contact_creation_errors"></div>    

<%= form_with(model: @new_contact, url: contacts_create_path , method: "post", html: {id: :create_contact_form}, scope: "create") do |n| %>
  <div name="header" class="form_title">  
    Create a new contact
  </div>

  <div name="create_contact"  class="form_body">      

    <%= hidden_field_tag "customer_id", @customer.id %>

    <%= n.label :Name %>
    <%= n.text_field :name, class: 'form-control' %>

    <%= n.label :"First name" %>
    <%= n.text_field :firstname, class: 'form-control' %>  
  

    <%= n.label :"Telephone" %>
    <%= n.text_field :tel, class: 'form-control' %>

    <%= n.label :"Extension" %>
    <%= n.text_field :ext, class: 'form-control' %> 

    <%= n.label :"Email" %>
    <%= n.text_field :email, class: 'form-control' %> 

  </div>  

  <div name="footer" class="d-flex flex-row justify-content-center align-items-center">  
    <%= n.submit "Create Contact", {id: :create_contact_btn, class: "btn btn-primary"} %>              
  </div>          
<% end %>   

